{% extends 'layout.html' %}
{% load static %}
{% block title %}
Trang chủ
{% endblock %}
{% block static %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
<meta name="description" content="Ravi dự án, vila, du lịch tốt nhât cho bạn.">
<meta name="keywords" content="ravi, vila, du lịch">
<link rel="canonical" href="http://{{ request.META.HTTP_HOST }}">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Ravi">
<meta property="og:description" content="Ravi dự án, vila, du lịch tốt nhât cho bạn.">
<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/images/unsplash_F6Da4r2x5to_CRQbCjs.png">
<meta property="og:image:secure_url" content="http://{{ request.META.HTTP_HOST }}/static/images/unsplash_F6Da4r2x5to_CRQbCjs.png" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="809" />
<meta property="og:image:alt" content="Ravi dự án, vila, du lịch tốt nhât cho bạn.">
<meta property="og:url" content="http://{{ request.META.HTTP_HOST }}">
<meta property="fb:app_id" content="362029163478952">
<meta property="og:type" content="article">
<meta name="author" content="Trần Văn Huy">
{% endblock %}

{% block content %}
<!-- banner -->
<div class="relative overflow-hidden">
  <div class="slider-banner">
    {% for banner in banners %}
    <img src={{ banner.image.url }} alt="" srcset="" class="lg:h-[90vh] h-[50vh] w-full" />
    {% endfor %}
  </div>
  <img src="{% static 'images/h1-rev-bottom 1.png' %}" alt="" srcset="" class="absolute w-full bottom-0" />
</div>

<!-- Về chúng tôi -->
<main class="xl:py-[150px] py-[50px] xl:px-[122px] px-[16px]">
  <div class="xl:flex xl:justify-between xl:items-center xl:gap-[104px] " id="ve-chung-toi">
    <img src={{ about_me.image.url }} alt="" srcset="" class="xl:mb-[0px] mb-[36px] xl:h-[100vh] mx-auto" />
    <div class="flex-1 text-center">
      <div class="xl:mb-[50px] mb-[24px]">
        <div class="uppercase text-main font-[500] max-[600px]:text-[14px]">{{ about_me.name }}</div>
        <div class="text-[40px] text-blackMain max-[600px]:text-[30px]">{{ about_me.title }}</div>
      </div>
      <p class="text-grayMain leading-[26px] xl:mb-[50px] mb-[24px]">
       {{ about_me.desc|safe }}
      </p>
      <a href="{% url 'about' about_me.slug %}">
        <button class="inline uppercase text-grayMain font-bold px-[32px] h-[50px] rounded-[25px] border-[2px] border-main">xem thêm</button>
      </a>
    </div>
  </div>
</main>
<!-- Lĩnh vực hoạt động -->
<main class="relative">
  <img src="{% static 'images/Rectangle 336.png' %}" alt="" class="absolute w-full h-full" />
  <div class="xl:py-[150px] xl:px-[120px] py-[50px] px-[16px] relative" id="linh-vuc-hoat-dong">
    <div class="xl:mb-[50px] mb-[36px]">
      <div class="text-center">
        <div class="uppercase text-main font-[500]">{{ actions.name }}</div>
        <h2 class="uppercase text-white">{{ actions.title }}</h2>
      </div>
    </div>
    <div class="grid xl:grid-cols-3 grid-cols-1 xl:gap-[32px] gap-[24px]">
      {% for item in item_actions %}
      <div class="col-span-1 sm:p-[32px] group hover:bg-[#BA9256]">
        <div
          class="w-[230px] h-[230px] rounded-full bg-[#2E6D45] mx-auto flex justify-between items-center mb-[32px] group-hover:bg-[#FFFFFF] group-hover:bg-opacity-20">
          {{item.icon|safe}}
        </div>
        <div>
          <h3 class="text-white text-center mb-[24px]">{{ item.title }}</h3>
          <div>
            <p class="mb-[32px] text-white leading-4">{{ item.desc }}</p>
            <a href="{% url 'action-detail' item.slug %}">
              <b class="uppercase text-main group-hover:text-white">Xem thêm</b>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
<!-- Các dự án -->
<main class="relative overflow-hidden">
  <img src="{% static 'images/landing-img-49 1.png' %}" alt="" srcset="" class="absolute w-full h-full" />
  <div class="lg:py-[150px] py-[60px] relative z-10" id="du-an">
    <div class="uppercase text-center lg:mb-[50px] mb-[36px]">
      <div class="text-main font-[500] max-[600px]:text-[14px]">{{ project.name }}</div>
      <h2 class="text-blackMain px-[16px]">{{ project.title }}</h2>
    </div>
    <div class="lg:mb-[50px] mb-[36px]">
      <div class="slider">
        {% for item in item_projects %}
        <div class="mr-2">
          <div class="relative">
            <img src={{ item.image.url }} alt="" srcset=""
              class="w-full lg:h-[700px] h-[400px]" />
           <a href="{% url 'project-detail' item.slug %}">
            <div class="absolute bottom-0 w-full px-[24px] pt-[64px] pb-[32px]"
              style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);">
              <h3 class="text-white">{{ item.name }}</h3>
              <p class="text-main uppercase font-[500]">{{ item.address }}</p>
            </div>
           </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="flex justify-center items-center">
      <a href="{% url 'project-list' %}">
        <button
        class="inline uppercase text-grayMain font-bold px-[32px] h-[50px] rounded-[25px] border-[2px] border-main">xem
        tất cả các dự án</button>
      </a>
    </div>
  </div>
</main>
<!-- Tuyển dụng -->
<main class="xl:grid grid-cols-2 gap-[80px] bg-[#F9F8F5]">
  <img src={{ recruitment.image.url }} alt="" srcset=""
    class="xl:h-full h-[50vh] xl:w-auto w-full xl:w-auto xl:mb-0 col-span-1" />
  <div class="col-span-1 xl:pr-[120px] xl:pl-0 pr-[16px] pl-[16px] pb-[50px]" id="tuyen-dung">
    <div class="uppercase xl:mb-[50px] mb-[36px] xl:pt-[150px] pt-[50px]">
      <div class="text-main font-[500]">tuyển dụng</div>
      <h2 class="text-[#181C23]">làm việc tại ravi</h2>
    </div>
    <div class="flex flex-col xl:gap-[32px] gap-[16px]">
      {% for item in item_recruitment %}
      <div class="bg-white xl:py-[39px] xl:px-[24px] py-[16px] px-[16px] xl:flex items-center justify-between group">
        <div class="xl:mb-0 mb-[16px]">
          <h3 class="text-blackMain xl:mb-[16px] mb-[8px] line-clamp-1">{{ item.name }}</h3>
          <div class="flex items-center gap-[32px]">
            {% for in_item in item.name_item_recruitment.all %}
            {% if forloop.counter <= 2 %}
            <p class="text-grayMain">
              {{ in_item.name }}: <span class="font-bold">{{ in_item.content }}</span>
            </p>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <a href="{% url 'job-opening' item.slug %}" class="text-main font-bold uppercase xl:hidden group-hover:block whitespace-nowrap">ứng tuyển
          ngay</a>
      </div>
      {% endfor %}
       <a href="{% url "job-list" %}">
        <button
        class="inline uppercase text-grayMain font-bold px-[32px] h-[50px] rounded-[25px] border-[2px] border-main w-fit">xem
        tất cả</button>
       </a>
      </div>
    </div>
  </div>
</main>
<!-- Đối tác -->
<main class="xl:py-[160px] py-[50px] overflow-hidden">
  <div class="text-center xl:px-[353px] px-[16px] xl:mb-[50px] mb-[24px]">
    <h2 class="uppercase text-blackMain xl:mb-[30px] mb-[24px]">{{ partner.name }}</h2>
    <p class="text-grayMain">{{ partner.desc }}</p>
  </div>
  <div class="px-[27px]">
    <div class="slider1">
      {% for item in item_partner %}
      <div>
        <a href={{item.link}} target="_blank">
          <img src={{ item.image.url }} alt="" srcset="" />
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% include 'components/register.html' %}
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script>
  $('.slider').slick({
    autoplay: true,
    speed: 2000,
    autoplaySpeed: 2000,
    dots: false,
    infinite: true,
    speed: 500,
    slidesToShow: 4,
    slidesToScroll: 4,
    centerMode: true,
    loop: true,
    responsive: [
      {
        breakpoint: 1025,
        settings: {
          slidesToShow: 2
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1
        }
      },
      {
        breakpoint: 300,
        settings: 'unslick' // destroys slick
      }
    ]
  })

  $('.slider1').slick({
    autoplay: true,
    speed: 2000,
    autoplaySpeed: 2000,
    dots: false,
    infinite: true,
    speed: 500,
    slidesToShow: 4,
    slidesToScroll: 2,
    centerMode: true,
    responsive: [
      {
        breakpoint: 1025,
        settings: {
          slidesToShow: 2
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1
        }
      },
      {
        breakpoint: 300,
        settings: 'unslick' // destroys slick
      }
    ]
  })

  $('.slider-banner').slick({
    autoplay: true,
    speed: 2000,
    autoplaySpeed: 2000,
    dots: false,
    infinite: true,
    speed: 500,
    slidesToShow: 1,
    slidesToScroll: 1,

  })
</script>
{% endblock %}